:root {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section:not(.full-w) {
  padding: 4rem 2rem;
}
/* NAVIGACE */
nav {
  background-color: #34292a;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
}

nav .burger {
  aspect-ratio: 1;
  width: 40px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

nav .burger span {
  display: block;
  width: 80%;
  height: 5px;
  background-color: #fff;
  border-radius: 4px;
}

@media (min-width: 992px) {
  nav .burger {
    display: none;
  }

  nav {
    background-color: #34292a;
    display: flex;
    justify-content: space-evenly;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 16px 16px;
    display: inline-block;
  }

  a:hover {
    background-color: #e9877b;
  }
}

/* HERO */

.hero-section {
  height: 100vh;
  justify-content: center;
  background-image: url(images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-wrap {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.25;
  color: #fff;
  text-align: right;
  transform: translateY(-2rem);
}

@media (min-width: 767px) and (max-width: 991px) {
  .hero-title {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: right;
    transform: translateY(-3rem);
    transform: translateX(-1rem);
  }
  .hero-section {
    height: 50rem;
  }
}

@media (min-width: 992px) {
  .hero-title {
    font-size: 8rem;
    font-weight: bold;
    line-height: 1.25;
    color: #fff;
    text-align: right;
    transform: translateX(-5rem);
  }
}

/* ABOUT */
.about-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.about-us-title {
  margin: 0;
  text-align: left;
  font-size: 2.5rem;
  padding: 15px 0;
}

.about-us-text {
  text-align: left;
}

.container {
  flex: none;
  flex-basis: auto;
}

.about-img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 767px) and (max-width: 991px) {
  .about-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }

  .about-us-title {
    margin: 0 0 12px;
    font-size: 2.5rem;
    text-align: left;
  }

  .about-us-text {
    width: auto;
    height: auto;
    text-align: left;
    width: 250px;
  }

  .container {
    flex: 0 0 420px;
    height: 20rem;
    flex-basis: auto;
  }

  .about-img {
    width: 300px;
    height: 32rem;
    display: block;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 992px) {
  .about-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5rem;
  }

  .about-us-title {
    margin: 0 0 12px;
    font-size: 2.5rem;
    text-align: left;
  }

  .about-us-text {
    width: auto;
    height: auto;
    text-align: left;
    width: 400px;
  }

  .container {
    flex: 0 0 420px;
    height: 20rem;
    flex-basis: auto;
  }

  .about-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }
}

/* WHAT WE DO */
.what-we-do {
  display: flex;
  justify-content: center;

  background-color: #34292a;
}

.what-we-do-wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.what-we-dotitle {
  font-size: 2.5rem;
  color: #fff;
}

.what-we-do-text {
  color: #fff;
  padding: 1rem;
}

.icons {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}

@media (min-width: 767px) and (max-width: 991px) {
  .what-we-do {
    display: flex;
    background-color: #34292a;
  }

  .what-we-dotitle {
    font-size: 2.5rem;
    color: #fff;
  }

  .what-we-do-text {
    color: #fff;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0;
  }
}

@media (min-width: 992px) {
  .what-we-do {
    display: flex;
    justify-content: center;
    background-color: #34292a;
  }
  .what-we-do-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  .what-we-dotitle {
    font-size: 2.5rem;
    color: #fff;
  }

  .what-we-do-text {
    color: #fff;
    padding: 15px;
    padding-inline: 20rem;
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
  }

  .icons > div img {
    max-width: 100px;
    aspect-ratio: 1;
  }
}

.icons > div img {
  max-width: 100px;
  aspect-ratio: 1;
}

/* OUR TRIPS */
.our-trips {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 10px;
  margin: 0 auto;
  width: fit-content;
  grid-template-areas:
    "obrazek1"
    "obrazek2"
    "obrazek3"
    "obrazek4"
    "trips-text"
    "obrazek6"
    "obrazek7"
    "obrazek8"
    "obrazek9";
}

.our-trips img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
}

.obrazek1 {
  grid-area: obrazek1;
}

.obrazek2 {
  grid-area: obrazek2;
}

.obrazek3 {
  grid-area: obrazek3;
}

.obrazek4 {
  grid-area: obrazek4;
}

.trips-text {
  height: 3em;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
}

.obrazek6 {
  grid-area: obrazek6;
}

.obrazek7 {
  grid-area: obrazek7;
}

.obrazek8 {
  grid-area: obrazek8;
}

.obrazek9 {
  grid-area: obrazek9;
}

@media (min-width: 767px) and (max-width: 991px) {
  .our-trips {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 14em);
    grid-template-rows: repeat(3, 18em);
    gap: 10px;
    margin: 0 auto;
    width: fit-content;
    grid-template-areas:
      "obrazek1 obrazek2 obrazek3"
      "obrazek4 trips-text obrazek6"
      "obrazek7 obrazek8 obrazek9";
  }

  .our-trips img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .obrazek1 {
    grid-area: obrazek1;
  }

  .obrazek2 {
    grid-area: obrazek2;
  }

  .obrazek3 {
    grid-area: obrazek3;
  }

  .obrazek4 {
    grid-area: obrazek4;
  }

  .trips-text {
    height: 100%;
    font-size: 4em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
  }

  .obrazek6 {
    grid-area: obrazek6;
  }

  .obrazek7 {
    grid-area: obrazek7;
  }

  .obrazek8 {
    grid-area: obrazek8;
  }

  .obrazek9 {
    grid-area: obrazek9;
  }
}

@media (min-width: 992px) {
  .our-trips {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 18em);
    grid-template-rows: repeat(3, 15em);
    gap: 20px;
    margin: 0 auto;
    width: fit-content;
    grid-template-areas:
      "obrazek1 obrazek2 obrazek3"
      "obrazek4 trips-text obrazek6"
      "obrazek7 obrazek8 obrazek9";
  }

  .our-trips img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .obrazek1 {
    grid-area: obrazek1;
  }

  .obrazek2 {
    grid-area: obrazek2;
  }

  .obrazek3 {
    grid-area: obrazek3;
  }

  .obrazek4 {
    grid-area: obrazek4;
  }

  .trips-text {
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
  }

  .obrazek6 {
    grid-area: obrazek6;
  }

  .obrazek7 {
    grid-area: obrazek7;
  }

  .obrazek8 {
    grid-area: obrazek8;
  }

  .obrazek9 {
    grid-area: obrazek9;
  }
}

/* WHERE DO YOU WANT TO GO org */
.where {
  background-color: #644b4f;

  color: #fff;
}

.where-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wheretitle {
  font-size: 2rem;
  line-height: 1em;
}

.where-text {
  line-height: 1.55em;
  text-align: left;
  margin-bottom: 3rem;
}

button {
  padding: 0.75rem 1.25rem;
  background: #f2f2f2;
  color: #111;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #e9877b;
}

@media (min-width: 767px) and (max-width: 991px) {
  .where {
    background-color: #644b4f;
    padding: 90px 0;
    color: #fff;
  }

  .where-wrap {
    width: 92%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    flex-direction: row;
  }

  .wheretitle {
    font-size: 3rem;
    line-height: 1em;
    flex: 0 0 260px;
  }
}

@media (min-width: 992px) {
  .where {
    background-color: #644b4f;
    padding: 90px 0;
    color: #fff;
    margin-top: 10rem;
  }

  .where-wrap {
    width: 92%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    flex-direction: row;
  }

  .wheretitle {
    font-size: 2rem;
    line-height: 1em;
    flex: 0 0 260px;
  }

  .where-text {
    line-height: 1.55em;
  }

  .where-button {
    display: inline-block;
    margin-top: 18px;
    background: #f2f2f2;
    color: #111;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 28px;
    border-radius: 5px;
  }
  .where-button:hover {
    background-color: #e9877b;
  }
}

/* REVIEWS */

.reviews-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews-head {
  text-align: center;
  margin-bottom: 5rem;
}

.reviews-title {
  font-size: 2em;
}

.reviews-headtext {
  margin: 0 auto;
  max-width: 420px;
  line-height: 1.4;
  text-align: center;
}

.reviews-grid {
  align-items: center;
  justify-content: center;
}

.review {
  text-align: center;
}

.reviewers-name {
  font-weight: bold;
  margin: 2em;
}

.review-img {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  object-fit: cover;
}

@media (min-width: 767px) and (max-width: 991px) {
  .reviews-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reviews-grid {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .review {
    text-align: center;
    width: 20em;
  }

  .review-img {
    width: 8em;
    height: 8em;
    border-radius: 100%;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .reviews-wrap {
    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .reviews-head {
    text-align: center;
    margin-bottom: 7rem;
  }

  .reviews-title {
    font-size: 2em;
  }

  .reviews-headtext {
    margin: 0 auto;
    max-width: 420px;
    line-height: 1.4;
    text-align: center;
  }

  .reviews-grid {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10em;
  }

  .review {
    text-align: center;
    width: 20em;
  }

  .reviewers-name {
    font-weight: bold;
    margin: 2em;
  }

  .review-img {
    width: 6em;
    height: 6em;
    border-radius: 100%;
    object-fit: cover;
  }
}

/* GALLERY */
.gallery-wrap {
  display: flex;
  flex-direction: column;
}

.gallery-wrap img {
  width: 100%;
  aspect-ratio: 16/9;
}

@media (min-width: 767px) and (max-width: 991px) {
  .gallery-wrap {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .gallery-wrap img {
    width: 24rem;
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .gallery-wrap img {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

@media (min-width: 992px) {
  .gallery-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* FOOTER */
.footer {
  background-color: #333333;
}

.footer-header {
  color: #e9877b;
}
.footer-text {
  color: #fff;
  text-align: center;
}
